<template class="menu sticky-top">
  <require from="./menu.scss"></require>
  <require from="./category-menu-item/category-menu-item"></require>

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <div>
      <a class="navbar-brand" route-href="route: home">
        <img
          src="/images/favicon.png"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-center"
        />
        Bookshop
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Categories
          </a>

          <category-menu-item />
        </li>
        <li class="nav-item">
          <a class="nav-link" route-href="route: authors">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" route-href="route: publications">Publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <div class="nav-item my-2 my-lg-0">
        <a if.bind="!loggedIn" class="nav-link" route-href="route: login">
          Login
        </a>
        <a
          if.bind="loggedIn"
          class="nav-link"
          route-href="route: home"
          mousedown.trigger="logout()"
        >
          Logout
        </a>
        <a
          if.bind="loggedIn"
          class="nav-link"
          route-href="route: shopping-cart"
        >
          Shopping Cart
        </a>
      </div>
    </div>
  </nav>
</template>
